@page
@model Torneo.App.Frontend.Pages.DTs.IndexModel
@{
}
<center>
     <h1>Directores técnicos</h1>
<table class="table table-bordered border-#922B21 " , border="2" , style="width: 50%">
    <thead>
        <tr bgcolor="#808080">
            <th style="text-align:center" scope="col">Id</th>
            <th style="text-align:center" scope="col">Nombre</th>
            <th style="text-align:center" scope="col">Acciones</th>
            <th> 
                   <center>
                   <a class="btn btn-outline-warning" asp-page="./Create">Crear</a>
                   </center>
             </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach(var dt in Model.dts)
        {
            <tr bgcolor="#F8F9F9">
                <th scope="row">@dt.Id</th>
                <td>@dt.Nombre</td>
                <td>
                     <center>
                       <a class="btn btn-outline-success" asp-page="./Details" asp-route-id="@dt.Id">
                        Detalle
                    
                       </a>
                    </center>
                    <th>
                        <center>
                            <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@dt.Id">
                        Editar
                    </a>
                        </center>
                         
                    </th>
                    
                    
                </td>
            </tr>
        }
    </tbody>
</table>
</center>