@page
@model Torneo.App.Frontend.Pages.DTs.IndexModel
@{
}
<center>
     <h1>Listado de directores técnicos</h1>
<table class="table table-bordered border-#922B21 " , border="2" , style="width: 50%">
    <thead>
        <tr bgcolor="#808080">
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones    <a class="btn btn-primary" asp-page="./Create">Crear D.T.</a> </th>
            
           
        </tr>
    </thead>
    <tbody>
        @foreach(var dt in Model.dts)
        {
            <tr bgcolor="#F8F9F9">
                <th scope="row">@dt.Id</th>
                <td>@dt.Nombre</td>
                <td>
                    <a class="btn btn-#5989B1" asp-page="./Details" asp-route-id="@dt.Id">
                        Detalle
                    </a>
                    <a class="btn btn-#F8F9F9" asp-page="./Edit" asp-route-id="@dt.Id">
                        Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</center>