@page
@model Torneo.App.Frontend.Pages.Posiciones.EditModel
@{
}
<h1>Editar posicion</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="posicion.Id"></label>
        <input asp-for="posicion.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="posicion.Nombre"></label>
        <input asp-for="posicion.Nombre" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-secondary" btn-block">Actualizar posicion</button>
    <a class="btn btn-outline-info" asp-page="./Index">Volver</a>
</form>
