@page
@model Torneo.App.Frontend.Pages.Partidos.EditModel
@{
}
<h1>Editar partido</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="partido.Id"></label>
        <input asp-for="partido.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="partido.FechaHora"></label>
        <input asp-for="partido.FechaHora" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="EquipoSelected"></label>
        <select asp-for="EquipoSelected" asp-items="@Model.EquipoOptions" name="idEquipoLocal" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="partido.MarcadorLocal"></label>
        <input asp-for="partido.MarcadorLocal" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="EquiSelected"></label>
        <select asp-for="EquiSelected" asp-items="@Model.EquiOptions" name="idEquipoVisitante" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="partido.MarcadorVisitante"></label>
        <input asp-for="partido.MarcadorVisitante" class="form-control">
    </div>
   
    <button type="submit" class="btn btn-outline-success btn-block">Actualizar partido</button>
</form>
<a class="btn btn-outline-dark" asp-page="./Index">Volver</a>
