html {
  font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.btn {  
    padding: 10px 30px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
  margin-bottom: 120px;
}
