@page
@model Torneo.App.Web.Pages.AutoresModel
@{
<center>
    <p><strong>Integrantes</strong></p>
    <p><i>Sluguer Arana</i></p>
    <p><i>Teresa Escobar</i></p>
    <p><i>Elver Caro</i></p>
    <p><i>Leidy Botina</i></p>
    <p><i>Karol Perez</i></p>
</center>
}
