@page
@model IndexModel
@{
    ViewData["Title"] = "TORNEO DE FUTBOL";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
    <img src=".\imagenes\imagen2.jpg" >
    @*<p>ESTA es nuestra Premera Pagina web <a href="https://docs.microsoft.com/aspnet/core">estamos construyendo nuestr primer asolucion </a>.</p>*@
</div>