@page
@model IndexModel
@{
    ViewData["Title"] = "TORNEO DE FUTBOL";
}

<div class="text-center">
    <h1 class="display-4">VIENVENIDOS</h1>
    <h1 class="display-4">mUNDO cRUEL</h1>
    <p>ESTA es nuestra Premera Pagina web <a href="https://docs.microsoft.com/aspnet/core">estamos construyendo nuestr primer asolucion </a>.</p>
</div>
